@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  @apply bg-brown text-white;
}

.hero {
  background: linear-gradient(92.91deg, #160b0a -0.59%, #382422 104.43%);
  border-radius: 9px;
}

@layer components {
  .btn {
    @apply px-8 py-2 text-black font-bold bg-orange-400 cursor-pointer rounded-md;
  }
}
