@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: linear-gradient(103.93deg, #0c0100 -2.28%, #200c02 132.97%);
  background-position: left top;
  background-repeat: repeat;
  color: #fff;
}

.hero {
  background: linear-gradient(92.91deg, #160b0a -0.59%, #382422 104.43%);
  border-radius: 9px;
}

.grid {
  background: rgba(255, 255, 255, 0.04);
}

.gridItem {
  background: rgba(255, 255, 255, 0.04);
  border-radius: 5%;
  padding: 10px 40px 0px 40px;
  width: 452px;
  height: 379px;
}

.card {
  background: rgba(255, 255, 255, 0.04);
}

.card2 {
  background: linear-gradient(103.93deg, #23130c -2.28%, #160b0a 132.97%);
}

@media only screen and (max-width: 1024px) {
  .gridItem {
    width: 241px;
    height: 500px;
    padding: 10px 20px;
  }
}

@layer components {
  .btn {
    @apply px-8 py-2 text-black font-bold bg-orangeLight cursor-pointer rounded-md;
  }
}

#swiper-color {
  --swiper-navigation-size: 25px;
  position: relative;
}

#swiper-color .swiper-button-next,
.swiper-button-prev {
  position: absolute;
  color: white;
  background-color: #331d16;
  border-radius: 50%;
  right: 0;
  font-size: 8px;
  padding: 30px;
  height: 4px;
  text-align: center;
}
#swiper-color .swiper-button-prev {
  color: white;
  left: 0;
}

#swiper-replace .swiper-button-next::after {
  display: none;
}

.swiper-slide {
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.blurDivLeft {
  background: linear-gradient(270deg, rgba(12, 1, 0, 0) 0%, black 100%);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  width: 218px;
}

.blurDivLeft::before {
  background: black;
  content: "";
  display: block;
  position: absolute;
  left: -150px;
  z-index: 1;
  top: 0;
  width: 133px;
  height: 335px;
}

.blurDivRight {
  background: linear-gradient(270deg, black 0%, rgba(12, 1, 0, 0) 100%);
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  width: 218px;
}

.blurDivRight::after {
  background: black;
  content: "";
  display: block;
  position: absolute;
  right: -100px;
  z-index: 1;
  top: 0;
  width: 133px;
  height: 335px;
}

.blurDivRight2 {
  background: linear-gradient(270deg, #160b0a 0%, rgba(22, 11, 10, 0) 100%);
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0px;
  bottom: 0;
  width: 160px;
}
